@import "node_modules/bulmaswatch/minty/bulmaswatch";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar-item img.logo{
max-height: 200px;
width: 120px;
}
.login-wrapper{
  background-image: url("https://source.unsplash.com/x8ZStukS2PM/1600x900");
  background-repeat: no-repeat;
  background-size: cover;
  height: 103vh;
  justify-content: center
}

.signup-wrapper{
  background-image: url("https://source.unsplash.com/dEOC8M_lmxI/1600x900");
  background-repeat: no-repeat;
  background-size: cover;
  height: 103vh;
  justify-content: center
}

.signup-button{
  padding-top: 25px
}

.login-button{
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 15px 
}

.card-text{
  text-align: center;
}

.home-button{
  display: flex;
  padding-top: 30px;
  justify-content: space-around
}

.question-wrapper{
  padding-bottom: 20px;
}

.landing-container{
  background-image: url("https://source.unsplash.com/FZU-vIW-lk8/1600x900");
  background-repeat: no-repeat;
  background-size: cover;
  height: 103vh;
}

.qrcode{
  margin: 20px;
  display: flex;
  justify-content: center;
}

.footer{
  background-color: #066d8b;
}

.add-center-button{
  display: flex;
  justify-content: center;
  padding: 15px;
}

.centers-button{
  padding-right: 10px
}

.ver-button{
  display: flex;
  justify-content: center
}

.add-new-box{
  padding: 50px 0
}

.category-center{
  padding-bottom: 20px;
}

.quieroContribuir-button{
  display: flex;
  justify-content: center; 
}

.button-contribution{
  display: flex;
  justify-content: center;
}

.qrcode-container{
  padding-top: 15%;
}

.qrcode-wrapper{
  background-color: #4db7c1;
  background-image: url("https://source.unsplash.com/Q3Ea7QQQ6MA/1600x900");
  background-size: cover;
  background-repeat: no-repeat;
  height: 103vh;
}

.qrreader-wrapper{
  background-color: #264f20;
  // background-color:linear-gradient(top, #384913, #739800);
  background-image: url("https://source.unsplash.com/_gu7E90QChU/1600x900");
  background-size: cover;
  background-repeat: no-repeat;
  height: 103vh;
}

.qrreader-container{
  padding-top: 15%;
}

.qr-code-reader{
  display: flex;
  justify-content: center;
}

.profile-wrapper{
  padding: 10% 0%
}

.profile-images{
  display: flex;
  justify-content: center;
  padding: 5% 0
}

.profile-p{
  text-align: center
}

.top-home{
  padding-bottom: 8%; 
}

.img-greenfinder{
  display: flex;
  justify-content: center;
}